.button { 
    background-color: none;
    border: 1px solid black;
    padding: 7px;
}

.add { 
    background-color:rgba(#6DBE1C, 0.5) ;
    margin-left: 10px;
    &:hover { 
        background-color:rgba(#6DBE1C, 0.8) ;

    }
}